@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Merriweather';
}

body {
  font-family: 'Merriweather';
}

.App {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #f5e4cd;
  color: #181714;
}


main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* padding: 2rem; */
  margin-top: 2rem;
  
}

.recipe-item {
  padding: 1rem;
}

.link:link, .link:visited {
text-decoration: none;
color: #181714;

}

h3 {
  padding-top: 5px;
}

.img-small {
  border-radius: 1rem;
}

.search-bar {
  width: 80%;
  font-size: 2rem;
}