@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Merriweather";
}

body {
  font-family: "Merriweather";
  background-color: #f5e4cd;
}

.App {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #f5e4cd;
  color: #181714;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.home-btn:link,
.home-btn:visited {
  font-family: "Merriweather";
  text-decoration: none;
  color: #181714;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.3s;
  padding: 1rem;
}

.home-btn:active,
.home-btn:hover {
  font-size: 1.3rem;
  color: #463d1f;
}

main {
  display: grid;
  width: 100%;
  
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, 19rem);
  justify-content: center;
  margin-top: 2rem;
  
}

.recipe-item {
  padding: 1rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #181714;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #18171498;
}

h3 {
  padding-top: 5px;
}

.img-small {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

form {
  width: 80%;
}

.search-bar {
  width: 100%;
  font-size: 2rem;
  border-radius: 5px;
  padding: 5px;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: "Merriweather";
  background-color: #fefcfa;
  color: #181714;
  border: none;
}

.recipe-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 2.5rem 1rem 2.5rem 1rem;
  align-items: center;
  margin-top: 3rem;
  background-color: #fcf7f0;
  border-radius: 1.5rem;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-info_sub {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.recipe-ingredients {
  list-style: none;
  text-align: left;
}

.recipe-ingredients li {
  padding: 0.5rem;
}

.container_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee4d670;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.lds-roller {
  z-index: 999;
}

.select {
  border-radius: 5px;
  font-family: "Merriweather";
  padding: 3px;
  color: #181714;
}

.nutri_info-container {
  padding: 1rem;
  margin-top: 1rem;
}

.nutri_info-container > p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.nutrients-container {
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  margin: 0 auto;
  background-color: #fefcfa;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 7px;
  gap: 1rem;
}

.nutrients-container p {
  text-align: left;
}

.nutrients-container p > span {
  font-weight: 700;
}

@media all and (max-width: 74em) {
  html {
    font-size: 90%;
  }

  main {
    grid-template-columns: repeat(auto-fit, 15rem);
  }

  header {
    width: 100%;
  }

  .search-bar {
    width: 90%;
  }

  .nutrients-container {
    width: 90%;
  }
}

@media all and (max-width: 48em) {

  .search-bar {
    width: 80%;
  }
}


@media all and (max-width: 37.5em) {


  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .search-bar {
    width: 100%;
    font-size: 1.5rem;
  }

  .nutrients-container {
    grid-template-columns: 1fr;
  }

  .nutrients-container p {
    text-align: center;
  }

  .nutri_info-container > p {
    font-size: 1.5rem;
    
  }
}