@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Merriweather';
}

body {
  font-family: 'Merriweather';
  background-color: #f5e4cd;
}

.App {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #f5e4cd;
  color: #181714;
}


header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
margin: 0 auto;
}

.home-btn {

}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* padding: 2rem; */
  margin-top: 2rem;
  
}

.recipe-item {
  padding: 1rem;
}

.link:link, .link:visited {
text-decoration: none;
color: #181714;

}

h3 {
  padding-top: 5px;
}

.img-small {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

form {
  width: 80%;
}

.search-bar {
  width: 100%;
  font-size: 2rem;
  border-radius: 5px;
  padding: 5px;
  padding-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: 'Merriweather';
  background-color: #fefcfa;
  color: #181714;
  border: none;
}

.recipe-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 2.5rem 1rem 2.5rem 1rem;
  align-items: center;
  margin-top: 3rem;
  background-color: #fcf7f0;
  border-radius: 1.5rem;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-info_sub {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.recipe-ingredients {
  list-style: none;
  text-align: left;
}

.recipe-ingredients li {
  padding: 0.5rem;
}

.container_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee4d670;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  }




    .lds-roller {
    z-index: 999;
      }